# A desktop entry file to be placed in .config/autostart/
# that ensures the correct bash script gets auto-executeed at startup.
[Desktop Entry]
Type=Application
Name=unclutter
Exec=/bin/bash /home/ouroboros/unclutter.sh
